<div class="row mb-3">
  <div class="col-4">
    <div class="upload-btn-wrapper">
      <button class="upload-box-btn light-grey-bg white-text">
        <div class="col-12">
          <div class="row justify-content-center align-items-center">
            <span><i class="fas fa-file-upload px-2" style="font-size: 35px;"></i></span>
            <span class="text-size"> Upload Your Inscription</span>
          </div>
        </div>
      </button>
      <input type="file" name="myfile">
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12 input-box input-text">
    <input class="box light-grey-bg white-text" placeholder="Type Something....">
  </div>
</div>