<div class="row mb-3">
  <div class="col-4">
    <div class="upload-btn-wrapper">
      <button class="box light-grey-bg white-text">
        <div class="col-12">
          <div class="row justify-content-center align-items-center">
            <i class="fa fa-file-upload"></i>
            <span> UPLOAD YOUR INSCRIPTION</span>
          </div>
        </div>
      </button>
      <input type="file" name="myfile">
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12 input-box input-text">
    <input class="box light-grey-bg white-text" placeholder="Type Something....">
  </div>
</div>