<nav class="nav-bar">
  <div class="container-fluid">
    <div class="col-12 h-100 bottom">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <div class="row">
            <label class="navbar-toggle m-0">
              <ul class="nav-bar-nav float-left">
                <li>
                  <a class="link" href="">
                    <span>ArcheoScriptor</span>
                  </a>
                </li>
              </ul>
            </label>
          </div>
        </div>
        <div class="col-auto">
          <label class="navbar-toggle m-0">
            <div class="nav-over-layer"></div>
            <div class="nav-bar-nav">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item p-0">
                  <a class="nav-link active" id="translator-tab" data-toggle="tab" href="#translator" role="tab"
                    aria-controls="home" aria-selected="true">Translator</a>
                </li>
                <li class="nav-item p-0">
                  <a class="nav-link" id="inscriptions-tab" data-toggle="tab" href="#inscriptions" role="tab"
                    aria-controls="profile" aria-selected="false">Inscriptions</a>
                </li>
                <li class="nav-item p-0">
                  <a class="nav-link" id="location-tab" data-toggle="tab" href="#location" role="tab"
                    aria-controls="contact" aria-selected="false">Location</a>
                </li>
                <li class="nav-item p-0">
                  <a class="nav-link" id="todo-tab" data-toggle="tab" href="#todo" role="tab" aria-controls="contact"
                    aria-selected="false">To Do</a>
                </li>
              </ul>
            </div>
          </label>
        </div>
        <div class="col-auto">
          <div class="row">
            <label class="navbar-toggle m-0">
              <div class="nav-over-layer"></div>
              <ul class="nav-bar-nav float-right">
                <li>
                  <a class="link" href="">
                    <span>Vimukthi</span>
                  </a>
                </li>
              </ul>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>